@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
    font-family: 'Pokemon';
    src: url('Pokemon-Solid.ttf')
}
@layer components{
    .hero{
        position: fixed;
        width: 95vh;
        height: 95vh;
        margin:auto; 
    }
    .pokefont{
        font-family: 'Pokemon';
        font:'Pokemon';
        color:blue !important;
    }
    .card{
        background: rgba(255, 255, 255, 0.4);
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        backdrop-filter: blur(11px);
        -webkit-backdrop-filter: blur(11px);
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
}