.pokemon-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.pokemon-info {
  text-align: center;
  margin-left: 20px; /* Add margin to separate from the image */
}

.pokemon-image {
  width: 250px; /* Adjust the size as needed */
  height: 250px; /* Adjust the size as needed */
  border: 2px solid #333333;
  border-radius: 8px;
  margin-right: 20px; /* Add margin to separate from the text */
}

h2 {
  font-family: "VT323", monospace;
  font-size: 5rem;  
  margin-bottom: 10px; /* Add space between the name and stats */
}

.stat-box {
  border: 2px solid #333333;
  color: black;
  background-color: #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  display: inline-block;
}

.type-box {
  border: 2px solid black;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  display: inline-block;
}

