@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Russo+One&family=VT323&display=swap');

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

 @font-face {
    font-family: 'CustomFont';
    src: url('./fonts/PokemonFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

    /*
    custom scrollbar
    not supported by firefox
    */
    .cards::-webkit-scrollbar-thumb{
        border-radius: .5rem;
        background-color: #0075BE !important;
    }
    .cards::-webkit-scrollbar {
        width: 1vw;
      }
      
      
      
     
    .searchCont{
        height: 100vh;
        background: #FCF6ED;
        /* overflow-y: hidden !important; */
        /* background-color:hsla(120,56%,94%,1);
        background-image:
        radial-gradient(at 83% 73%, hsla(130,82%,67%,1) 0px, transparent 50%),
        radial-gradient(at 9% 76%, hsla(142,38%,63%,1) 0px, transparent 50%); */
    }
    .hero{
        position: fixed;
        width: 95vh;
        height: 95vh;
        margin:auto; 
    }
    .search{
        margin-bottom:5vh !important;
        
    }
    /*
    do not change
    logo needs to be responsive 
    */
    .logo{
        height: auto !important;
        width: 20vw!important;
        background-size: cover;
        object-fit: fill;
    
        top:2.5vh;
        margin-bottom: 5vh;
    
    }
    .filterCont{
        position: absolute;
        width: 20vw;
        height: 65vh;
        top:10vh !important;
        right:75vw;
        border-radius: 2rem;
        overflow-y: visible;
        padding-bottom: 15vh !important;
    }
    .filterCont>.row{
        position: absolute;
        text-align: left !important;
        margin-top: 4vh !important;
    }
    .sortBy{
        /* TEMP FIX*/
        margin-top: 2.5vh !important;
        margin-left: -1vw;
    }
    .cards{
        
        overflow-x: hidden;
        padding: 3%;
        padding-right: 4%;
        display: grid !important;
        grid-template-columns: repeat(6, minmax(0, 2fr)) !important;
        grid-gap:2.5vw !important; 
        width: 75vw;
        margin:auto ;
        height: auto;
        max-height: 90vh;
        text-align: center;
        bottom: 5vh !important;
        border-radius: 1.2rem;
        position: fixed;
        left:20vw;
        bottom: 0vh;
        top:5vh;
        background: white;
        overflow-y: scroll;
    }
    .card{
        /* background: white; */
        align-items: flex-start;
        padding: 1%;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        width: 10vw !important;
        max-width: 12vw !important;
        margin:auto; 
        height: 20vh;
        min-height: 20vh !important;
        border-radius: .5rem;
        white-space: nowrap;
        /* background-color: white; */
        justify-content: flex-start;
        justify-content: flex-start; /* Align items to the start (left) */
        transition: transform 0.3s ease-in-out;
        transform-origin: center bottom;
        background: linear-gradient(to top, #CCC 50%, white 60%);

      
    }

    .name{
        flex-direction: row;
        font-family: "VT323", monospace;
        font-size: 1.5rem;
        position: relative;
        bottom: 2.5vh !important;
        /* color:#0075BE; */
        
        
    }
    .card:hover{
        background: linear-gradient(to top, #FFCC00 50%, white 70%);
        overflow-x: visible;
        transform: scale(1.1);

        
    }
    .card:hover.pfp{
        width: 22vw !important;
        object-fit:fill;


    }

    .pfp{
        flex-direction: row;
        height: 100%;
        width: 10vw ;
        object-fit:cover;
        top: 1vh;
    }
    .card.water, .card.ice, .card.steel{
       
        /* background:radial-gradient(at at 10% 96%, #96D9D6  0px, transparent 100%);         */
        color:#69bfb5;
        

    }
    .card.poison, .card.flying, .card.psychic, .card.fairy, .card.ghost, .card.electric{
        color:#AC8BAF;
        
         
       

    }
    .card.normal, .card.grass, .card.bug{
      
        color:#73b566;

        
        
        /* -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3); */
        

    }
    .card.fire, .card.fighting, .card.ground, .card.rock{
        color:#F96E46;
        
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);  */
        /* -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3); */

    }
    .card[id=steel], .card[id=dark], .card[id=bug]{
        color:#EDBF85;
        
        
        /* -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3); */

    }
    .pokefont{
        font-family: 'Pokemon';
        font:'Pokemon';
        color:blue !important;
    }


    
.pikachu-image {
    width: 600px;
    height: 600px;
    margin-top: -250px;
    margin-right: -600px; 
    z-index: 1; 
  }
  
  .pokemon-logo {
    width: 800px;
    z-index: 0;
  }
  
  .continue-button {
    font-size: 2rem;
    padding: 15px 30px;
    background-color: #3c5aa6;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    left: 40%; 
    bottom: 30%; 
  }
  
  .continue-button:hover {
    background-color: #ffcb05;
  }

  .scroll-box {
    max-height: 900px; /* Adjust the max height as needed */
    overflow-y: auto;
    border:10px solid #3c5aa6;
    padding: 10px;
    border-radius: 10px;
    width: 95%; /* Adjust the width as needed */
    margin: auto;
  }

  .scroll-box::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #ffcb05 !important;
}
.scroll-box::-webkit-scrollbar {
    width: 1vw;
  }

  